html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafbfd;
    font-size: 100%;
}

a {
    text-decoration: none;
}
